.create-playlist-new {
    height: 255px;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    background: linear-gradient(33deg, #5a1eae -7%, #ce267a 117%);
}
.create-playlist-icon i{
    font-size: 85px;
    padding: 0;
}
.create-playlist-heading {
    font-size: 14px;

}
.playlist-item {
    height: 255px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* Content */
.playlist-content {
    width: 100%;
    height: 215px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
.playlist-content-overflow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    bottom: 0;
    background-color: transparent;
    transition:all 0.25s linear ;
}

.playlist-btn-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--white);
    opacity: 0;
    z-index: 2;
}
.icon-dots,
.icon-heart {
    font-size: 20px;
    cursor: pointer;
}

.icon-heart .heart{
    color: var(--purple-primary);
    
}

.icon-play {
    font-size: 40px;
    cursor: pointer;
}
.playlist-btn {
    padding:4px 5px 1px 5px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-self: center;
    border-radius: 100%;
}
.playlist-btn:hover {
    background-color:  #c0c4caa1;
    
}
.playlist-image {
    transition: all 0.25s linear;
}
.playlist-content:hover .playlist-image{
    transform: scale(1.1);
}
.playlist-content:hover .playlist-btn-icon {
    opacity: 1;
}
.playlist-content:hover .playlist-content-overflow {
    background-color: rgba(0, 0, 0, 0.404);
}
.playlist-image {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 5px;
}


/* Thông tin playlist */
.playlist-text {
    margin-top: 8px;
    color: var(--white);
}
.playlist-text-name {
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
.playlist-text-name:hover {
    color: var(--purple-primary);
}
.playlist-text-user {
    color: #ffffff80;
    font-size: 12px;
}