* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root {
    --sidebar-bg1: hsla(0,0%,100%,0.05);
    --vip1: (117deg,#5a4be7,#c86dd7 102%);
    --alpha-bg1: hsla(0,0%,100%,0.1);
    --black: #000;
    --white: #fff;
    --dada: #dadada;
    --purple-primary: #3460f5;
    --primary-bg: #192f60;
    /* Màu nền header  */
    --layout-bg: #061d50;
    /* Bg màu ở phần tổng quan */
    --alpha-layout-bg: #637191;
    /* Boder bottom */
    --border-secondary: hsla(0,0%,100%,0.05);
    --song-item-action: hsla(0,0%,100%,0.5);
    --bg--bottom:  #051740;
  
}
.container::-webkit-scrollbar {
    width: 4px;
} 
.container::-webkit-scrollbar-thumb {
    background-image: linear-gradient(117deg,#af0a78,#5a035a 102%);
    border-radius: 2px;
}
.container::-webkit-scrollbar-track {
   border-radius: 2px;
   background-color: rgb(214, 223, 141);
}
.container {
    background-repeat: no-repeat;
    background-size: 1920px auto;
    height: calc(100vh - 70px);
    overflow: auto;
}
.main {
    margin-left: 240px;
    padding: 0 60px;
    margin-top: 70px;
    /* height: 1000vh; */
}